body{
    background:url(rectanguloFondo.webp);
    font-family: Arial, sans-serif;


}
h1{
    text-align: center;
    color: white;
    font-size: 90px;
   
}
img{
    width: 390px;
    float:right;
}
p{
    color: white;
}
h2{
    color: white;
}
table{
    color: white;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
    background: #3659f4;
}
a:hover{
    background: #1f2f9f;
}